{% extends 'base.html.twig' %}

{% block title %}Homepage
{% endblock %}


{% block body %}

<!-- container video -->
        <div class="container-fluid">
		        <div class="video">
			          <div class="embed-responsive embed-responsive-21by9">
					  <iframe width="560" height="300" src="https://www.youtube.com/embed/lRTtMcx6rSM?start=171" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			          </div>
		        </div>
        </div>
 


<div class="container">

		<!-- Content here -->
		<div class="child-page-listing">

			<h2>Maps</h2>
			<div class="grid-container">
				<article id="3685" class="location-listing">
					<a class="location-title text-primary" href="#">
						Map Terre
          </a>
					<div class="location-image">
						<a href="#">
							<img width="300" height="169" src="https://www.jeuxetcompagnie.fr/wp-content/uploads/2012/03/dessin-enfant-espace.jpg " alt="london" alt="san francisco">
						</a>
					</div>
				</article>
				<article id="3688" class="location-listing">
					<a class="location-title text-primary " href="#">
						Map Mars
          </a>
					<div class="location-image">
						<a href="#">
							<img width="300" height="169" src="https://www.jeuxetcompagnie.fr/wp-content/uploads/2012/03/dessin-enfant-espace.jpg " alt="london">
						</a>
					</div>
				</article>
				<article id="3691" class="location-listing">
					<a class="location-title text-primary" href="#">
						Map Lune
					</a>
					<div class="location-image">
						<a href="#">
							<img width="300" height="169" src="https://www.jeuxetcompagnie.fr/wp-content/uploads/2012/03/dessin-enfant-espace.jpg " alt="new york">
						</a>
					</div>
				</article>

			</div>
		</div>
 </div>

</body>

{% endblock  %}
