{% extends 'base.html.twig' %}

{% block title %}page a propos{% endblock %}

{% block body %}    
<div id="box">
    <h1>A propos</h1>

        <h3>nous</h3>
        <div>
            nous sommes une équipe de 4 développeurs juniors et dans notre apprentissage nous avons acqueri certaines connaissances que nous avons mis a profit lors de ce projet.
        </div>

        <h3>le projet</h3>
        <div>
        ce projet est un résumé de tout ce que nous avons apris lors de notre apprentissage
        et une façon pour nous de vraiment mettre en pratique tout ce que nous avons vu en partant 
        des maquettes de sites, en passant par les formulaires pour 
        enfin arriver à la gestion des bases de données ce qui nous donne un tout (ce site).
        </div>
        </br></br>


        <h3>le but du projet</h3>
        <div>
        De notre point de vu c'est juste une façon de nous entraîner pour vous ça sera un divertissement il faut savoir lier l'utile a l'agreable 
        </div>

        <div>
        Un monde dans lequel tout est connecté et dans lequel tout se passe sur le WEB une petite équipe de développeurs juniors , 
        se lance un défi celui de vous apporter du divertissement. </br>
        Un jeu d'adresse et d'ambiance c'est ce détendre tout en s'amusant pour les jeunes et moins jeunes, tout est possible .
        Qui sera le meilleur , invitez vos amis et partagez vos compÈtitions.
        Notre équipe est là pour vous accompagner et mener à bien vos défis et vous donner les outils pour y parvenir.
        Notre jeu "World Escap vous fera redécouvrir le monde des Endless runner qui n'auront bientot plus de secret pour vous. 
          
        Un esprit logique , de la persévérence  et de la vivacité  feront de vous le meilleur "World Escap" fera  bientot parti
        de votre vocabulaire sans détour.  

        <h4>Amusez vous bien !</h4>
        </div>
</div>
        <footer>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis rutrum ante nec porta. Suspendisse eget condimentum eros. Curabitur nec enim iaculis massa sagittis porta sed sed erat. Vivamus vulputate, urna vel facilisis porta, sapien dui sollicitudin mi, nec suscipit felis justo volutpat elit. Cras mollis vehicula scelerisque.
        </footer>
{% endblock %}