@font-face {
  font-family: "neue_haas_grotesk";
  src: url("../font/neue_haas_grotesk/NHaasGroteskTXPro-75Bd.ttf");
}
element {
  --main-bg-color: brown;

}
body {
  padding: 0;
  margin: 0;
  font-family: "neue_haas_grotesk";
}
html {

}
main {
}
.blockEscape {
  margin: 5em;
}
.none {
  display: none;
}

.block {
  display: block;
}
.mentionsLegales {
  justify-content: center;
  margin-top: 5vw;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 0.7em;
}

.mentionsLegales h1 {
  color: purple;
}
/*.fade {
    background: rgba(0, 0, 255, 0.192) !important;
}*/

.HeaderSection-video--desktop {
  display: block;
}

.HeaderSection-video {
  box-shadow: inset 0 0 100px black;

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.pageHomeHeader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  min-height: 600px;
  overflow: hidden;


}

.navbar {

  backdrop-filter: blur(10px);

  border-bottom: 1px rgba(255, 255, 255, 0.116) solid;
}
.h1Homepage {
  color: white;
  font-weight: 800;
  font-size: 5em;
}
.h2Homepage {
  color: white;
  font-weight: 800;
  font-size: 3em;
  width: 50px;
  display: flex;
  flex-wrap: wrap;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);
}
.footerPos{
  padding-top: 3em;
}
/*\///    PAGE D'ACCUEIL   \\\\*/
/*\///    SECTION 1   \\\\*/
.section_1 {
  backdrop-filter: blur(10px);
  border-top: 1px solid rgb(247, 1, 255);
  overflow: hidden;
  position: relative;
  margin-top: -50px;
  width: 100%;
  background: center bottom no-repeat fixed url('../../images/homepage/797.jpg');
  background-size: cover;
  background: rgba(233, 246, 255, 0.863);
  clip-path: polygon(0 0, 23% 0, 24% 30px, 73% 30px, 74% 0, 100% 0, 100% 100%, 0 100%);
  padding-bottom: 5em;
}

.section_1__boutique {
}

.section_2 {
  background: fixed url("../../images/homepage/backgroundBoutique.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #003246;
  padding: 10em 0 10em 0;
  clip-path: polygon(0 17%, 100% 0, 100% 83%, 0 100%);
outline: 25px red solid;
z-index: 5555555;
overflow: hidden;

}

.section_2 img {
}
.button1 {
  border: none;
  height: 3.5em;
  width: 17em;
  border-radius: 2px;
  color: white;
  background: #F45AF0;
  transition: 0.2s ease;
  font-size: 1em;
}
.button2 {
  border: none;
  height: 3.5em;
  width: 17em;
  border-radius: 2px;
  color: white;
  background: rgb(153, 52, 236);
  transition: 0.2s ease;
  font-size: 1em;
}
.button3 {
  border: none;
  padding: 1em;
  width: 17em;
  border-radius: 2px;
  color: white;
  background: rgb(153, 52, 236);
  transition: 0.2s ease;
  font-size: 1em;
}
.button3:hover {
  border: none;
  padding: 1em;
  width: 17em;
  border-radius: 2px;
  color: white;
  background: rgb(236, 178, 52) !important;
  box-shadow: 0px 0px 14px 2px rgba(236, 178, 52, 75);
  font-size: 1em;
}

.button2:hover {
  font-size: 1.1em;
  border: none;
  height: 3.5em;
  width: 20em;
  border-radius: 2px;
  color: white;
  background: rgb(236, 178, 52) !important;
  box-shadow: 0px 0px 14px 2px rgba(236, 178, 52, 75);
}
.button1:hover {
  font-size: 1.1em;
  border: none;
  height: 3.5em;
  width: 20em;
  border-radius: 2px;
  color: white;
  background: rgb(236, 178, 52) !important;
  box-shadow: 0px 0px 14px 2px rgba(236, 178, 52, 75);
}
.section_1__actualite {
  margin: 3em 0 3em 0;
}
.section_1__boutique {
  margin: 3em 0 3em 0;
}

.relat {
  box-shadow: inset 0px 0px 15px 10px rgba(0,0,0,0.75);
  border: 1px rgb(255, 255, 255) solid;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1em;
  right: -100vw;
  transition: 1s ease;


  
}

.relat:hover {
  box-shadow: inset 0px -1px 25px 5px rgb(200, 234, 255);

}
.relat:hover img {
  position: relative;

}
.relat:hover img {


  transform: scale(1.15);

}

.section_1 h2 {
  text-align: center;
  color: black;
  font-size: 1.2em;
}
.articleTitle {
  position: relative;
  transition: 1s ease;
  right: -100vw;
}
.text {
  position: absolute;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 300px;
  z-index: 55;
}
.h2h2 {
}
.section_1 a :hover,
h2:hover,
p:hover,
button:hover {
  background: rgba(255, 255, 255, 0);
}
.hoverDesc :hover {

}
.hoverDesc {

}
.cardu {
  border: 1px rgba(255, 255, 255, 0.308) solid;
  background: rgba(255, 255, 255, 0.068);
  margin: 1em;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 100vh;
  transition: 1s ease;
}
.cardu:hover {
  box-shadow: 0px -1px 43px 5px rgb(233, 145, 255);
}
.cardu:hover img {
  transform: scale(1.15);
  transition: 1s ease;

}

.section_2 h2 {
  color: white;
width: 100%;
  font-size: 1.5em;
  padding-left: 17%;
}
.section_1 h3 {
  padding-left: 7%;
}
.section_2 h2 > a {
  color: rgb(255, 0, 234) !important;
}
.cardu h3 {
  text-align: center;
  color: white;
  font-weight: lighter !important;
}
.section_1 h3 {
}
.hr0 {
  width: 81vw;
  height: 2px;
  border: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 0, 191, 0.568), rgba(255, 255, 255, 0));
}
.hr1 {
  width: 61vw;
  height: 1px;
  border: 0;
  background-image: linear-gradient(to right, rgba(70, 70, 70, 0.541), rgb(255, 255, 255), rgba(70, 70, 70, 0.534));
}

.articleImg {
  z-index: -1;
}
.section_2 p {
  color: white;
}
.textProduit {
  display: none;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 300px;
  z-index: 55;
}
.hoverDescProduit {
  z-index: 55;
}

.backgroundDoc {
  
  background: no-repeat fixed center url("../../images/homepage/fichier\ 6.png");
  background-size: cover;


}
.section_4 {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  overflow: hidden;
  position: relative;
  margin-bottom: -100px;
  margin-top: -200px;

}
.section_4 img {
position: relative;
z-index: -55;


  width: 100%;
}
.section_4--card {

}
.section_4__content {
  background: fixed url("../../images/homepage/backgroundBoutique.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #003246;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2em 0 2em;
  padding: 1em;
  position: absolute;
  width: 55em;
  height: 20em;
  box-shadow: inset   0px 0px 17px 10px rgba(0,0,0,0.75);
  border: 1px rgba(255, 255, 255, 0.466) solid;
}
/*\///////// SECTION 5 \\\\\\\\\*/

.section-5 {
  padding-top: 2em;
  box-shadow: inset 0px 10px 5px -8px rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  justify-content: center;
  margin: 0 auto 2.25em auto;
  flex-wrap: wrap;
  z-index: -55555;
  overflow: hidden;
  
 /* box-shadow: inset 0px 10px 14px -9px rgba(0,0,0,0.75);*/
}
.section-5 img {
  width: 544px;
  height: 544px;
  
}

.section-5__left {
  width: calc(371px * 3 / 2 + 2em);
  margin: 4em 0 0 0;
}

.section-5__left > img {
  margin-bottom: 2em;
}

.section-5__right {
  width: calc(371px * 3 / 2);
}

.section-5__right p {
  line-height: 28px;
}

.section-5__right h3 {
  font-size: 1.8em;
  font-weight: 300;
}

.section-5__right button {
  display: flex;
  margin: 1em 0 5em 0;
}
.section_3--img1{
  position: relative;
  right: 100vw;
  transition: 1.5s ease;
  opacity: 0.1;
}
.section_3--img2{
  position: relative;
 top: 100vh;
  transition: 2s ease;
  z-index: -555555555;
  opacity: 0.1;
}
.section_3--img3{
  position: relative;
  left: 100vw;
  opacity: 0.1;
  transition: 2.2s ease;
  z-index: -555555555;
}

/*.backgroundLeader {
  background: no-repeat url("../../images/leaderboard/Round_20Line.jpg");
  background-size: cover;
}*/

.tdLeader {
 background: linear-gradient(180deg, rgba(31,77,94,0.695098107602416) 0%, rgba(17,45,56,0.695098107602416) 37%, rgba(17,45,56,0.6978992280505952) 61%, rgba(31,77,94,0.6978992280505952) 100%);
  border-bottom: 2px rgb(255, 255, 255) solid;
}
.tdLeaderUser {
 background: linear-gradient(180deg, rgba(33, 94, 31, 0.695) 0%, rgba(22, 56, 17, 0.695) 37%, rgba(17, 56, 22, 0.698) 61%, rgba(33, 94, 31, 0.698) 100%);
   border-bottom: 2px rgb(255, 255, 255) solid;
 }
.thLeader {
  

}
.trTop {

  z-index: 5;
}
.trLeader {
  border-collapse: collapse;
  backdrop-filter: blur(10px);
  color: white;
 box-shadow:  -1px -5px 5px 0px rgba(0, 0, 0, 0.63);
 outline:1px solid rgba(255, 255, 255, 0.253);

}
.trLeader:hover{
  background: linear-gradient(180deg, rgba(0,255,184,1) 0%, rgba(255,255,255,0.4766107126444328) 29%, rgba(255,255,255,0.5018207966780462) 65%, rgba(0,255,184,1) 100%);
}
.tableLeader{
  box-shadow:  0px 0px 1px 4px rgba(0, 0, 0, 0.158);
 outline: 1px rgba(255, 255, 255, 0.397) solid;

}

tbody {

}
.panierIndex {
  padding: 10em 0 10em 0;
  background: rgb(115, 141, 132);
}
.backgroundJeu {
  background: rgb(159, 204, 255);
}
.backgroundLeader {
  position: fixed;
  background: no-repeat  center url('../../images/leaderboard/leaderboard_background.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-top: -5em;

}
.titleLeader h1 {
margin-top: 1em;
z-index: 1;
  color: white
}
.titleLeader  {


}

/*\/////    REGISTER    \\\\\*/

.backgroundRegister {
  background: no-repeat fixed url('../../images/register/registerbg.png');
  box-shadow: inset 0px -61px 53px 76px rgba(0,0,0,0.75);
  width: 100%;
  background-size: cover;
  padding-bottom: 3em;
  margin-bottom: -100px;
}
.backgroundCenter {

  background: no-repeat url('../../images/register/2345238.svg');

background-size: cover;
  border: 1px rgba(255, 255, 255, 0.459) solid;
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
  margin-bottom: 5em;
  display: flex;
}
.formRight{

}
.formLeft{
width: 60%;
}
.form-group ::placeholder{
  color: rgb(201, 201, 201);
}
.form-group input {
  background: rgba(0, 128, 0, 0);
  border: none;
  border-bottom: 1px white solid;
}
.form-group select {
  background: rgba(0, 128, 0, 0);
}
.form-group file {
  background: rgba(0, 128, 0, 0);
}
.form-group label {
  color: white;
}
nav {
  transition: 1s ease;
}

/*\/////////     LOGIN     \\\\\\\\\*/

.modal-content {
  background: rgba(255, 255, 255, 0.459);
  backdrop-filter: blur(10px);
  color: white;
  border: black 1px solid;
}
.modal-content button{

  color: white;
}

/*\/////////     PROFIL     \\\\\\\\\*/


.userProfil_commandHist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5em 0 0 0;
}
.backgroundProfil {
  background: fixed url('../../images/profil/profilbg.png');
  background-size: cover;
  }
  .userProfil {
    display: flex;
    flex-direction: column;
    border: 1px rgba(255, 255, 255, 0.336) solid;
    width: 30em;
    align-items: center;
    border-radius: 3px;
    backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.151);
    color: white;
    margin: 1em 1em 0 1em;
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
    padding-bottom: 2em;
  }
  .userProfil__global {
    display: flex;
    margin: 0 0em 0 3em;
    width: 100%;
  }
  .userProfil__mail {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .userProfil__mail--link {
    margin-right: 1.5em;
  }
  .userProfil__mail--mail {
    margin-left: 1.5em;
  }
  .userProfil__mail--link {
    margin-right: 1.5em;
  }
  .userProfil__mail--password {
    margin-left: 1.5em;
  }
  .userProfil__Avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    display: flex;
   justify-content: center;
   border-radius: 100%;
   top: -50px;
   border: 1px rgba(255, 255, 255, 0.507) solid;
   box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
  }
  .userProfil__Avatar img {
    z-index: -2;
  }
.commandHist {
  width: 50em;
  margin: 1em 1em 0 1em;
  color: white;
  overflow: auto;
  background: blue;
  height: 28em;
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.151);
  border: 1px rgba(255, 255, 255, 0.336) solid;
  box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
}
.commandHist__table {
  color: white;
  border: 0 !important;
  border-bottom: 1px rgba(255, 255, 255, 0.26) solid !important;
  width: 100%;

}
.commandHist__td{
  border-radius: 30px;
}
.commandHist__tr {
  border-radius: 30px;
  text-align: center;
}
.userProfil--hr {
  width: 95%;
  border: 0 !important;
  height: 1px !important;
  background-image: linear-gradient(to right, #ffffff00, rgba(255, 255, 255, 0.733), #ffffff00) !important;
}


/*\/////////     ARTICLE INDEX    \\\\\\\\\*/
.articleIndexTop {
  margin-top: 5em;
}
.backgroundArticleIndex {
  background: no-repeat center top url('../../images/article/indexArticlebg.png');
  background-size: 100%;
  padding-top: 5em;
}
.article {
  margin: 5em 0 0 0;
}

/*\/////////     ARTICLE SHOW    \\\\\\\\\*/
.backgroundShowArticle {
  background: top no-repeat url('../../images/article/Show/bgArticle.png');
  color: #f6f6f6;
  background-color: #141516;
  padding: 5em;
}
.articleShow {
  margin: 5em 1em 1em 1em;
  width: 50em;
}
.articleShow h1 {
  font-size: 3em;
}
.articleShow p {
  font-size: 1.2em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: justify;
}
.articleShow__title {
  margin: 0 0 1em 0;
  width: 100%;
}


/*\///    POP ARTICLE   \\\*/

.popArticle {
  height: 38em;
  width: 32em;
  border: 1px rgba(255, 255, 255, 0.226) solid;
  background: rgba(255, 255, 255, 0.11);
  padding: 1.5em;
  font-size: 0.7em;
  margin: 16.5em 1em 1em 1em;
}
.popArticle h1 {
  font-size: 2em;
}
.popArticle a {
color: #f6f6f6;
text-decoration: none;
}
.popArticle__articles:hover {
  box-shadow: 0px -1px 5px 2px rgb(255, 236, 200);
}
.popArticle__articles img {
  border: rgba(255, 255, 255, 0.651) 1px solid;
}
.popArticle--hr {
  width: 100%;
  height: 1px;
  border: 0;
  background-image: linear-gradient(to right, rgba(70, 70, 70, 0.541), rgb(255, 255, 255), rgba(70, 70, 70, 0.534));
}


/*\/////////     ARTICLE COMMENT    \\\\\\\\\*/

.showArticle__comment {
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.103);
  border: 1px rgba(255, 255, 255, 0.192) solid;
  margin: 0.5em 0 0.5em 0;
}
/*.showArticle__comment:hover {
  box-shadow: 0px -1px 5px 0px rgb(255, 236, 200);
}*/
.showArticle--hr {
  width: 100%;
  height: 1px;
  border: 0;
  background-image: linear-gradient(to right, rgba(70, 70, 70, 0.541), rgb(255, 255, 255), rgba(70, 70, 70, 0.534));
}
.formCom {
  background: rgba(49, 45, 60, 0.527);
  border-radius: 30px;
  border: 1px rgba(255, 255, 255, 0.192) solid;
}

/*\/////////     ARTICLE INDEX    \\\\\\\\\*/

.articleIndex {
  width: 50%;
  margin: 2em 0 2em 0;
}
.articleIndex img{
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.74);
  border: 1px rgba(255, 255, 255, 0.26) solid;
}
.hrArticleIndex {
  width: 52%;
  height: 2px;
  border: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.308), rgba(255, 255, 255, 0));

}
.articleIndex a {
  text-decoration: none;

}

/*\/////////    PASSWORD RECUP    \\\\\\\\\*/

.passwordRecupBackground {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(41,64,74,1) 20%, rgba(108,123,129,1) 47%, rgba(41,64,74,1) 72%, rgba(0,0,0,1) 100%);
  padding: 5em 0 0em 0;
margin-bottom: -5em;
}

.passwordRecupBackground h1 {
  color: white;
  text-align: center;
}

.passwordRecup {
  display: flex;
  justify-content: center;
  margin: 5em 0 7em 0;
}

/*\/////////    PASSWORD RECUP    \\\\\\\\\*/

.mailEditBackground {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(41,64,74,1) 20%, rgba(108,123,129,1) 47%, rgba(41,64,74,1) 72%, rgba(0,0,0,1) 100%);
  padding: 5em 0 0em 0;
margin-bottom: -5em;
}

.mailEditBackground h1 {
  color: white;
  text-align: center;
}

.mailEdit {
  display: flex;
  justify-content: center;
  margin: 5em 0 7em 0;
}

/*\/////////    Produit INDEX    \\\\\\\\\*/

.blockindexProduit {

position: relative;
height: 100vh;

}


.produitIndexBackground { 
  padding-top: 5em;
  height: 100%;
  width: 100%;

background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 2s ease infinite;
-o-animation: rainbow 2s ease infinite;
  animation: rainbow 2s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.boutiqueIndex {
  
}


.cardProduitIndex {
  box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.74);
  outline: 5px rgba(0, 0, 0, 0.753) solid;
}

/*\/////////    Flash MESSAGE   \\\\\\\\\*/
.sucessFlash {
  background: rgba(0, 128, 0, 0.685);
color: white;
font-size: 1em;
  height: 4em;

}

.loginPageBackground {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(41,64,74,1) 20%, rgba(108,123,129,1) 47%, rgba(41,64,74,1) 72%, rgba(0,0,0,1) 100%);
  padding: 5em 0 8em 0;
  margin-bottom: -2em;
}

.loginPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5em 0 7em 0;
  padding: 5em 0 13em 0;
}


.pagin a {
color: black;
}


.pagin a:hover {

  }
  .pagin span:target {
    background: black;
    }
  .page-item.active .page-link {
      background: orange !important;
      border: orange !important;
    } 
    