{% extends 'base.html.twig' %}
{% block title %}Nos Articles{% endblock %}

{% block body %}   
        <div class="row">
            {% for article in articles %}
                    <div class="col-lg-4">
                        <h2>{{ article.titre }}</h2>
                        <p>{{ article.contenu |slice(0, 200)}}</p>
                        <p><a href="{{ path('article_show', {id: article.id}) }}" class="btn btn-primary">Lire la suite  &raquo;</a></p>
                        <small>{{ article.comments|length }} commentaire(s)</small>
                    </div>
                   
            {% endfor %}        
        </div>
        
{% endblock %}
 