{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="mailEditBackground">
    <h1>Changer votre Email</h1>
<div class="mailEdit">
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
</div>
    <a href="{{ path('user_show', {'id': app.user.id}) }}">back to profil</a>
</div>
{% endblock %}
